<div style="position: absolute;right: -65px"><%= image_tag "bg_shadow_right.png" %></div>
<div style="position: absolute;left: -70px"><%= image_tag "bg_shadow_left.png" %></div>
<div id="bg">
  <section id='title'>
    <%= link_to "Home", '/' %>
    <% if !path_map.nil? %>
        <% path_map.each do |pathitem| %>
            >
            <% if pathitem.menu_title.nil? || pathitem.menu_title == ""  %>
                <%= link_to pathitem.title, pathitem.url %>
            <% else %>
                <%= link_to pathitem.menu_title, pathitem.url %>
            <% end %>
        <% end %>
    <% end %>
  </section>

  <section id='body' class="fl" style="width:630px;">
    <%=raw @page.content_for(:body) %>
  </section>
  <section id='side_body' class="fl" style="width:308px;">

    <%=raw @page.content_for(:side_body) %>
  </section>
  <div class="clear"></div>
</div>