<!--smallpagetab-->
<div id="top_img">
  <span id="arrow"><%= image_tag "arrow.png" %></span>
  <% if !top_page.nil?%>
      <%=raw top_page.content_for(:homepage) %>
  <% end %>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <% isactive=0%>
  <% for stickypage in sticky_pages %>
      <% tab=stickypage.content_for(:smallpagetab).gsub('</p>','').gsub('<p>','')%>
      <%if isactive==0%>
          <li class="active"><a href="#<%=raw tab%>" data-toggle="tab"><%= tab%></a></li>
          <%else%>
          <li><a href="#<%=raw tab%>" data-toggle="tab"><%= tab%></a></li>
      <% end %>
      <% isactive +=1%>
  <% end %>
</ul>

<!--<section id='body' style="padding-left:0px;padding-right:0px;width: 997px">-->
  <!--<section id="stickpagebody">-->
    <!--<%# for stickypage in sticky_pages %>-->
        <!--<div id="stickpagebody_box" class="fl">-->
          <!--<%#=raw stickypage.content_for(:body) %>-->
          <!--<a href="/<%#=stickypage.url[:path].join('/') %>">-->
            <!--<%#=raw stickypage.content_for(:smallpage) %>-->
          <!--</a>-->
        <!--</div>-->
    <!--<%# end %>-->

  <!--</section>-->
<!--</section>-->

<section id='body' style="padding-left:0px;padding-right:0px;width: 997px">
  <section id="stickpagebody">
    <!-- Tab panes -->
    <div class="tab-content">
    <% for stickypage in sticky_pages %>
          <% tab=stickypage.content_for(:smallpagetab).gsub('</p>','').gsub('<p>','')  %>
            <div class="tab-pane" id="<%=raw tab %>"> <a href="/<%=stickypage.url[:path].join('/') %>"> <%=raw stickypage.content_for(:smallpage) %></a></div>
    <% end %>
    </div>
  </section>
</section>

<!--轮播-->
<div id="carousel-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% dataslideto=0%>
    <% for stickypage in sticky_pages %>
        <li data-target="#carousel-generic" data-slide-to="<%= dataslideto%>"  class=""></li>
        <% dataslideto+=1%>
        <%end%>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% index=0%>
    <% for stickypage in sticky_pages %>
         <%if index==0%>
        <div class="item active">
          <%= raw stickypage.content_for(:smallslide)%>
        </div>
            <%else%>
            <div class="item ">
              <%= raw stickypage.content_for(:smallslide)%>
            </div>
            <%end%>
        <% index+=1%>
    <% end %>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>