<div style="position: absolute;right: -65px"><%= image_tag "bg_shadow_right.png" %></div>
<div style="position: absolute;left: -70px"><%= image_tag "bg_shadow_left.png" %></div>
<section id='body'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body'>
  <section id='title'>
    <% path_map.each do |pathitem| %>
        <%= link_to pathitem.title, pathitem.url %>
        <% if pathitem != path_map.last%>
            >
        <% end %>
    <% end %>
  </section>
  <%=raw @page.content_for(:side_body) %>
</section>