<div class="bottom_bg">
  <div style="width: 624px;margin: 0 14px 0 10px;padding-bottom: 30px;float:left;display:inline;">
  <p style="font-size: 20px;margin-top:10px;margin-bottom:10px;font-family: Arial,'黑体',sans-serif;line-height: 22px;padding-bottom: 5px;">快速链接</p>
<div id="hometabtitle">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <% istabactive=0%>

    <% for stickypage in sticky_pages %>

        <% if !stickypage.content_for(:hometabtitle).nil?%>
            <% tab=stickypage.content_for(:hometabtitle)%>
            <%# tab=Sanitize.clean(stickypage.content_for(:hometabtitle))%>
            <%if istabactive==0%>
                <li class="active"><a href="#<%=Digest::MD5.hexdigest(tab)%>" data-toggle="tab"><%=raw stickypage.content_for(:hometabtitle)%></a></li>
            <% else%>
            <li ><a href="#<%=Digest::MD5.hexdigest(tab)%>" data-toggle="tab"><%=raw stickypage.content_for(:hometabtitle)%></a></li>
        <% end %>
            <% istabactive+=1%>
        <% end %>
    <% end %>
  </ul>
</div>
<section id='body' class="tab_con">
  <section id="stickpagebody">
    <!-- Tab panes -->
    <div class="tab-content">
      <% isactive=0%>
      <% for stickypage in sticky_pages %>
          <% if !stickypage.content_for(:hometabtitle).nil?%>
              <% tab=stickypage.content_for(:hometabtitle)%>
              <%# tab=Sanitize.clean(stickypage.content_for(:hometabtitle))%>
              <%if isactive==0%>
                  <!--<div class="tab-pane active" id="<%#=Digest::MD5.hexdigest(tab)%>"> <a href="/<%#=stickypage.url[:path].join('/') %>"> <%#=raw stickypage.content_for(:hometab) %></a></div>-->
                  <div class="tab-pane active" id="<%=Digest::MD5.hexdigest(tab)%>"><%=raw stickypage.content_for(:hometab) %></div>
              <%else%>
                  <div class="tab-pane" id="<%=Digest::MD5.hexdigest(tab) %>"> <%=raw stickypage.content_for(:hometab) %></div>
              <% end %>
              <% isactive +=1%>
          <% end %>
      <% end %>
    </div>
  </section>
</section>
<div style="clear:both"></div>
  <p style="font-size: 20px;margin-bottom:10px;font-family: Arial,'黑体',sans-serif;line-height: 22px;margin-top:30px;padding-bottom: 5px;">18个研究中心</p>
<!--轮播-->

<div id="carousel-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% dataslideto=0%>
    <% for stickypage in sticky_pages %>
        <% if !stickypage.content_for(:homeslide).nil?%>
            <li data-target="#carousel-generic" data-slide-to="<%= dataslideto%>"  class=""></li>
            <% dataslideto+=1%>
        <%end%>
    <%end%>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% index=0%>
    <% for stickypage in sticky_pages %>
        <% if !stickypage.content_for(:homeslide).nil?%>
            <%if index==0%>
                <div class="item active">
                  <%= raw stickypage.content_for(:homeslide)%>
                </div>
            <%else%>
                <div class="item ">
                  <%= raw stickypage.content_for(:homeslide)%>
                </div>
            <%end%>
            <% index+=1%>
        <% end %>

    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
    <span class="prev_arrow"></span>
  </a>
  <a class="right carousel-control" href="#carousel-generic" data-slide="next">
    <span class="next_arrow"></span>
  </a>
</div>
    <p style="font-size: 20px;margin-bottom:10px;font-family: Arial,'黑体',sans-serif;line-height: 22px;margin-top:30px;padding-bottom: 5px;">与我们互动</p>
    <% for stickypage in sticky_pages %>
        <%if !stickypage.content_for(:media).nil?%>
            <%=raw stickypage.content_for(:media) %>
        <% end %>
    <% end %>


</div>
<div style="padding: 38px 10px 30px 0;margin-top: 52px;float:left;width:300px;display:inline;">
  <p style="font-size: 20px;margin-bottom:10px;font-family: Arial,'黑体',sans-serif;line-height: 22px;margin-top:5px;padding-bottom: 5px;">影响与成果</p>
  <div class="impack">
  <% for stickypage in sticky_pages %>
      <%if !stickypage.content_for(:Impact).nil?%>
          <div id="Impack_box" class="fl">

              <%=raw stickypage.content_for(:Impact) %>

          </div>
      <% end %>
  <% end %>
  </div>

  <% for stickypage in sticky_pages %>
      <%if !stickypage.content_for(:news).nil?%>
          <%=raw stickypage.content_for(:news) %>
      <% end %>
  <% end %>



</div>


</div>

<script>
  $('.carousel').carousel({
      interval:false
  })
        </script>