<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <%= render "/refinery/head" %>
</head>
<body id="<%= canonical_id @page %>">
<%= site_bar -%>
<div id="page_container">
  <header id="header">
    <%= render "/refinery/header" -%>
  </header>
<div id="bg">
  <section id="sidemenu" class="fl">
    <%= render "sidemenu/sidemenu" -%>
  </section>
  <section id="pagewithsidemenu" class="fl" style="width:780px">
    <%= yield %>
  </section>
  <div class="clear"></div>
</div>
  <footer>
    <%= render "/refinery/footer" -%>
  </footer>
</div>
<%= render "/refinery/javascripts" %>
</body>
</html>
